<nav class="navbar footer">
  <div class="container">
    <ul class="nav text-right">
      <li class="nav-item nav-item-bold">
        <a class="nav-link" [routerLink]="['/contactus']" >Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> Copyright &copy; 2020 <strong>TaskMe</strong></a>
      </li>
    </ul>
  </div>
</nav>
