<div class="container">
    <div class="app-title">
      <p>Sprint Board</p>
    </div>
    <div class="jumbotron">
      <nav class="navbar app-navbar navbar-expand-lg navbar-light" aria-label="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <p class="nav-link sprint-project-title">{{sprintName}}</p>
          </li>
        </ul>
      </nav>
      <div class="card-panel">
        <div class="row">

          <div class="col-sm-3">
            <div class="toast-header board-header">
              <strong class="mr-auto select">Pending</strong>
            </div>
            <div class="column">
              <div class="card" *ngFor="let goto of gotoItem">
                  <div class="card-body" (click)="onIssueView(goto)">
                    <p class="card-title">{{goto.issueName}}</p>
                    <p class="card-text text-muted">
                     {{goto.issueDescription.substring(0,40)}}
                    </p>
                    <img src="https://img.icons8.com/cotton/25/000000/gender-neutral-user--v3.png" alt="" />
                    <span class="card-assignee" *ngIf="goto.assignee!==null">{{goto.username}}</span>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="toast-header board-header">
              <strong class="mr-auto select">In Progress</strong>
            </div>
            <div class="column">
              <div class="card" *ngFor="let inprogress of inprogressItem">
                <div class="card-body" (click)="onIssueView(inprogress)">
                  <p class="card-title">{{inprogress.issueName}}</p>
                  <p class="card-text text-muted">
                   {{inprogress.issueDescription.substring(0,40)}}
                  </p>
                  <img src="https://img.icons8.com/cotton/25/000000/gender-neutral-user--v3.png" alt="" />
                  <span class="card-assignee" *ngIf="inprogress.assignee!==null">{{inprogress.username}}</span>
                </div>
            </div>
            </div>
          </div>
  
          <div class="col-sm-3">
            <div class="toast-header  board-header">
              <strong class="mr-auto select">In Review</strong>
            </div>
            <div class="column">
              <div class="card" *ngFor="let inreview of inReviewItem">
                <div class="card-body" (click)="onIssueView(inreview)">
                  <p class="card-title">{{inreview.issueName}}</p>
                  <p class="card-text text-muted">
                   {{inreview.issueDescription.substring(0,40)}}
                  </p>
                  <img src="https://img.icons8.com/cotton/25/000000/gender-neutral-user--v3.png" alt="" />
                  <span class="card-assignee" *ngIf="inreview.assignee!==null">{{inreview.username}}</span>
                </div>
            </div>
            </div>
          </div>
  
          <div class="col-sm-3">
            <div class="toast-header  board-header">
              <strong class="mr-auto select">Done</strong>
            </div>
            <div class="column">
              <div class="card" *ngFor="let done of doneItem">
                <div class="card-body" (click)="onIssueView(done)">
                  <p class="card-title">{{done.issueName}}</p>
                  <p class="card-text text-muted">
                   {{done.issueDescription.substring(0,40)}}
                  </p>
                  <img src="https://img.icons8.com/cotton/25/000000/gender-neutral-user--v3.png" alt="" />
                  <span class="card-assignee" *ngIf="done.assignee!==null">{{done.username}}</span>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  