<div class="jumbotron banner">
    <div class="title text-center">
        <p>TaskMe</p>
        <small>Manage your workflow</small>
    </div>
    <div class="panel container">
        <div class="form-content">
            <form class="control-text" [formGroup]="signupForm" (ngSubmit)="onSubmit()"> 
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.name.errors }" />
                    <div *ngIf="submitted && formcontrol.name.errors" class="invalid-feedback">
                        <div *ngIf="formcontrol.name.errors.required">Name is required</div>
                    </div>
                  </div>
                <div class="form-group">
                  <label >Email address</label>
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.email.errors }" >
                  <div *ngIf="submitted && formcontrol.email.errors" class="invalid-feedback">
                    <div *ngIf="formcontrol.email.errors.required">Email is required</div>
                </div>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label >Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.password.errors }" >
                  <div *ngIf="submitted && formcontrol.password.errors" class="invalid-feedback">
                    <div *ngIf="formcontrol.password.errors.required">Password is required</div>
                    <div *ngIf="formcontrol.password.errors.email">Password Should more than 6 AlphaNumeric</div>
                </div>
                </div>
			      	 <div class="form-group" *ngIf="Checkbox">
                  <label>Organization Name</label>
                  <input type="text" formControlName="orgname" class="form-control">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" formControlName="ckborg" [(ngModel)]="Checkbox">
                  <label class="form-check-label">Create an organization?</label>
                </div>
                <button type="submit" class="btn dark-btn">Submit</button>
              </form>
              <br>
              <span class="text-muted"> Already have TaskMe account? <a routerLink="/login"><strong> Log In</strong></a></span>
        </div>
        <div class="main">
            <img src="/assets/signup.png" alt="pic" class="img-fluid img-responsive">
        </div>
    </div>
  </div>
<app-footer></app-footer>
  