<h4 style="text-align:center">Pie Chart For Issue Among All Sprint Under You</h4>

<div style="display: block">
        <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType">
</canvas>
</div>