
<div class="container task-panel" *ngFor="let issue of issueDetails">
    <div>
      <p class="task-title">{{issue.issueName}}</p>
    </div>
    <div class="action-panel">
      <nav class="navbar app-navbar navbar-expand-lg navbar-light" aria-label="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link btn light-btn" (click)="onEdit()" *ngIf="userRole==='SCRUM'">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn light-btn" *ngIf="userRole==='DEV' && issue.assignee===null" (click)="onAssignee()">Assign</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn light-btn" (click)="onInprogress()">In Progress</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn light-btn" (click)="onInreview()">In Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn light-btn" (click)="ondone()">Done</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="task-detail-panel">
        <table class="table table-borderless" aria-describedby="">
          <tbody>
            <tr>
              <th>Status:</th>
              <td>{{issue.issueStatus}}</td>
            </tr>
            <tr>
              <th>Type:</th>
              <td>{{issue.issuetypename}}</td> 
              <th>Assignee:</th>
              <td *ngIf="issue.assignee!==null">{{issue.username}}</td>
              <td *ngIf="issue.assignee===null">no assignee</td>
            </tr>
            <tr>
              <th>Created:</th>
              <td>{{issue.createOn | date}}</td>
              <th>Updated:</th>
              <td>{{issue.updateOn | date}}</td>
            </tr>
          </tbody>
        </table>
        
        <div class="task-desc">
          <h2>Description</h2>
          <hr>
          <p *ngIf="isDisplay">
            {{issue.issueDescription}}
          </p>
          <form *ngIf="isEdit">
            <div class="form-group" [formGroup]="issueForm">
              <textarea class="form-control"  formControlName="issuedescription" rows="3"></textarea>
            </div>
            <div class="text-right">
              <button type="submit" class="btn dark-btn" (click)="issueSave()">Update</button>
            </div>
          </form>
        </div>

        <div class="task-activity">
          <h2>Comments</h2>
          <div class="comment-input">
            <form [formGroup]="commentForm">
              <div class="input-group mb-3">
                <input type="text" formControlName="comment" class="form-control" [ngClass]="{ 'is-invalid': submitted && formfield.comment.errors }" placeholder="Comment here..">
                <div class="input-group-append">
                 <button class="btn dark-btn" (click)="onComment()">Send</button>
                </div>
                <div *ngIf="submitted && formfield.comment.errors" class="invalid-feedback">
                  <div *ngIf="formfield.comment.errors.required">Comment is required</div>
              </div>
              </div>
            </form>
          </div>
          <hr>
          <div class="comment-panel">
            <div class="card-text comment-card">
              <div class="mr-auto" *ngFor="let comment of commentDetails">
                  <strong class="username">{{comment.username}}</strong>&nbsp;
                  <small>{{comment.commentdatetime}}</small>
                  <p class="msg">{{comment.comment}}
                  </p>
                  <hr>
              </div>
          </div>
          </div>
        </div>
      
    </div>
   
  </div>

  
  