<div class="container">
    <div class="app-title">
      <p>Notifications</p>
    </div>
    <div class="notification-card">
      <div class="card">
        <div class="card-body">
          <div class="toast-header">
            <strong class="mr-auto badge bg-amber">Comment</strong>
            <small>Close</small>
          </div>
          <div class="toast-body">
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  