<nav class="navbar top-header">
    <div class="container">
    <div class="title">
        <p>TaskMe</p>
    </div>
    <div >
        <ul class="nav text-right">
            <li class="nav-item nav-item-bold">
              <a class="nav-link" [routerLink]="['/signup']" >Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">|</a>
            </li>
            <li class="nav-item nav-item-light">
              <a class="nav-link" [routerLink]="['/login']" >Log In</a>
            </li>
          </ul> 
    </div>
</div>
</nav>
