<app-header></app-header>
<div class="jumbotron banner">
    <div class="panel container">
        <div class="content">
            <div class="welcome-title">
                <p>TaskMe lets you work more collaboratively and get more done with Teams.</p>
            </div>
            <div class="bottom">
                <a class="btn dark-btn" [routerLink]="['/signup']">Sign up for free</a>
            </div>
        </div>
        <div class="main">
            <img src="/assets/banner.jpg" alt="pic" class="img-fluid img-responsive">
        </div>
    </div>
  </div>
  <div class="jumbotron banner">
    <div class="panel container">
        <div class="main">
            <img src="/assets/plan.png" alt="pic" class="img-fluid img-responsive">
        </div>
        <div class="content">
            <div class="index-contents">
                <p class="index-content-title">Plan</p>
                <p class="index-content">Create issues, plan sprints, and distribute tasks across your software team.</p>
            </div>
            <div class="index">
                <p class="index-content-title">Track</p>
                <p class="index-content">Discuss your team’s work in full context with complete visibility.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="jumbotron banner">
    <div class="panel container">
        <div class="content">
            <div class="index-contents">
                <p class="index-content-title">Meeting</p>
                <p class="index-content">Developer will be up to date will all meetings across the project.</p>
            </div>
            <div class="index">
                <p class="index-content-title">Reports</p>
                <p class="index-content">Improve team performance based on real-time, visual data that your team can put to use.</p>
            </div>
        </div>
        <div class="main">
            <img src="/assets/report.png" alt="pic" class="img-fluid img-responsive">
        </div>
    </div>
  </div>
<app-footer></app-footer>