<app-header></app-header>
<div class="jumbotron banner">
    <div class="title text-center">
        <p>Did you forgot your password?</p>
        <small>Enter your email address you're using for your account below and we will send you a reset password via email.</small>
    </div>
    <div>&nbsp;</div>
    <div class="panel container" style="margin-bottom: 95px;">
        <div class="form-content">
            <form class="control-text" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" > 
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.email.errors }" >
                  <div *ngIf="submitted && formcontrol.email.errors" class="invalid-feedback">
                    <div *ngIf="formcontrol.email.errors.required">Email is required</div>
                </div>
                </div>
                <button type="submit" class="btn dark-btn">Submit</button>
              </form>
              <div>&nbsp;</div>
              <small>Did you remembered your password?<a [routerLink]="['/login']"><strong> Try Sign In</strong></a></small>
        </div>
    </div>
  </div>
<app-footer></app-footer>
