<div class="container">
    <div class="app-title">
      <p>Project Team</p>
    </div>
    <div class="invite-panel">
      <nav class="navbar app-header" aria-label="">
        <ul class="nav text-left">
          <li class="nav-item">
            <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSearch()">
              <div class="form-group" >
                <select class="form-control select-option" formControlName="project"  [ngClass]="{ 'is-invalid': submitted && formcontrol.project.errors }">
                  <option  *ngFor="let p of activeProjectData" value="{{p.id}}">{{p.projectName}}</option>
                </select>
                <button class="btn light-btn" type="submit">Search</button>
                <div *ngIf="submitted && formcontrol.project.errors" class="invalid-feedback">
                  <div *ngIf="formcontrol.project.errors.required">Project is required</div>
              </div>
              </div>
            </form>
          </li>
        </ul>
        <ul class="nav text-right">
          <li class="nav-item item-light">
            <a class="nav-link btn light-btn" (click)="toggleInviteModal()">Invite Developer</a>
          </li>
        </ul>
      </nav>
      
    
      <div class="user-data" >
        
        <table class="table table-borderless" aria-describedby="" >
          <thead>
            <tr>
              <th scope="col" colspan="3">Email</th>
              <th scope="col">Project</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody  *ngIf="developerData?.length === 0 || developerData===undefined" class="text-center">
            <tr >
              <td colspan="6">No project Team</td>
            </tr>
          </tbody>
          <tbody  *ngFor="let d of developerData">
            <tr>
              <td colspan="3">{{d.useremail}}</td>
              <td>{{d.projectname}}</td>
              <td class="table-status" *ngIf="d.isaccept===1">Accepted</td>
              <td class="table-status" *ngIf="d.isaccept===0">Invited</td>
              <td class="table-action" (click)="onRemove(d.useremail,d.projectid)">Remove</td>
            </tr>
          </tbody>
        </table>
      </div>
   

    </div>
  </div>
  
  <div *ngIf="!isHide" class="card-dialog">
    <div class="card-background">
      <div class="card-content">
        <div class="card-body">
          <div class="container">
            <div class="card">
              <div class="card-body">
                <nav class="navbar app-navbar" aria-label="">
                  <div class="jumbotron-label">
                    Invite Your Team
                  </div>
                  <ul class="nav text-right">
                    <li class="nav-item item-light">
                      <a class="nav-link btn light-btn"
                        (click)="toggleInviteModal()">Close</a>
                    </li>
                  </ul>
                </nav>
                <form class="control-text" [formGroup]="inviteForm" (ngSubmit)="onInvite()">
                  <div class="form-group">
                    <label >Select Project</label>
                    <select class="form-control select-option" formControlName="projectId"  [ngClass]="{ 'is-invalid': submit && formfield.projectId.errors }">
                      <option  *ngFor="let p of activeProjectData" value="{{p.id}}">{{p.projectName}}</option>
                </select>
                <div *ngIf="submit && formfield.projectId.errors" class="invalid-feedback">
                  <div *ngIf="formfield.projectId.errors.required">Project is required</div>
              </div>
                  </div>
                  <div class="form-group">
                    <label >Email address</label>
                    <input type="email" class="form-control" formControlName="inviteEmail"  [ngClass]="{ 'is-invalid': submit && formfield.inviteEmail.errors }"  placeholder="name@example.com">
                    <div *ngIf="submit && formfield.inviteEmail.errors" class="invalid-feedback">
                      <div *ngIf="formfield.inviteEmail.errors.required">Invite email is required</div>
                  </div>
                  </div>
                  <button class="btn dark-btn">Send Invitation</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  