<div class="container ">
    <div class="app-title">
      <p>My Task</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light" aria-label="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item sprint-nav">
          <p class="nav-link select" *ngIf="projectName!==undefined" >{{projectName}}</p>
        </li>
        <li class="nav-item sprint-nav">
          <p class="nav-link" >{{sprintName}}</p>
        </li>
      </ul>
    </nav>
    <div class="jumbotron">
      <div class="card-panel">
        <div class="row">
          <div class="col-sm-3">
            <div class="toast-header board-header">
              <strong class="mr-auto select">To Do</strong>
            </div>
            <div class="column">
              <div class="card" *ngFor="let goto of assigneeGotoIssue">
                  <div class="card-body" (click)="onIssueView(goto)">
                    <p class="card-title">{{goto.issueName}}</p>
                    <p class="card-text text-muted">
                     {{goto.issueDescription.substring(0,40)}}
                    </p>
                    <p class="card-text point-text">
                     Type : <span class="card-assignee">{{goto.issuetypename}}</span>
                    </p>
                    <p class="card-text point-text">
                      Point : <span class="card-assignee">{{goto.storyPoint}}</span>
                     </p>
                  </div>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3">
            <div class="toast-header board-header">
              <strong class="mr-auto select">In Progress</strong>
            </div>
            <div class="column">
              <div class="card" *ngFor="let inprogress of assigneeInprogressIssue">
                  <div class="card-body" (click)="onIssueView(inprogress)">
                    <p class="card-title">{{inprogress.issueName}}</p>
                    <p class="card-text text-muted">
                      {{inprogress.issueDescription.substring(0,40)}}
                    </p>
                    <p class="card-text point-text">
                     Type : <span class="card-assignee">{{inprogress.issuetypename}}</span>
                    </p>
                    <p class="card-text point-text">
                      Point : <span class="card-assignee">{{inprogress.storyPoint}}</span>
                     </p>
                  </div>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3">
            <div class="toast-header board-header">
              <strong class="mr-auto select">In Review</strong>
            </div>
            <div class="column">
               <div class="card" *ngFor="let inreview of assigneeInreviewIssue">
                <div class="card-body" (click)="onIssueView(inreview)">
                  <p class="card-title">{{inreview.issueName}}</p>
                  <p class="card-text text-muted">
                    {{inreview.issueDescription.substring(0,40)}}
                  </p>
                  <p class="card-text point-text">
                   Type : <span class="card-assignee">{{inreview.issuetypename}}</span>
                  </p>
                  <p class="card-text point-text">
                    Point : <span class="card-assignee">{{inreview.storyPoint}}</span>
                   </p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3">
              <div class="toast-header board-header">
                <strong class="mr-auto select">Done</strong>
              </div>
              <div class="column">
                <div class="card" *ngFor="let done of assigneeDoneIssue">
                  <div class="card-body" (click)="onIssueView(done)">
                    <p class="card-title">{{done.issueName}}</p>
                    <p class="card-text text-muted">
                      {{done.issueDescription.substring(0,40)}}
                    </p>
                    <p class="card-text point-text">
                     Type : <span class="card-assignee">{{done.issuetypename}}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="card" *ngIf="projectName===undefined" style="margin-top: 20px;">
          <div class="card-body">
            <p class="card-title text-center">No any project is given to you !! </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  