<div class='popup' (click)="hidePopDiv()">
    <div class="card text-center">
        <div *ngIf="popupService.getSuccessMessage()">
            <p class="card-text success">
                <img src="https://i.gifer.com/XD4x.gif" alt="" style="width: 30%;"><br>
                {{popupService.getSuccessMessage()}}
            </p>
        </div>
        <div *ngIf="popupService.getErrorMessage()">
            <img src="https://media.giphy.com/media/3og0ItKLUOUzt5uwZW/giphy.gif" alt="" style="width: 20%;"><br>
            <p class="card-text error">{{popupService.getErrorMessage()}}</p>
        </div>
    </div>
</div>