<div>
    <div class="row">
      <div class="col-md-2">
        <app-navbar></app-navbar>
      </div>
      <div class="col-md-10 ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  