<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Task Me</title>
  </head>
  <body>
    <app-popup *ngIf='popupService.getVisibleState()'></app-popup>
    <router-outlet></router-outlet>
  </body>
</html>
