<div class="sidebar">
    <div class="sidebar-title">
        <p>TaskMe</p>
    </div>
    <div class="sidebar-user">
        <p>{{userName}}</p>
        <span>{{userRole}}</span>
    </div>
    
    <div class="sidebar-menu" *ngFor="let a of getMenutoDisplay()" >
        <div  *ngFor="let b of a.menulist">
            <a *ngIf="b.label==='Logout'"  (click)="logout()">{{b.label}}</a>
            <a *ngIf="b.label!='Logout'"  [routerLink]="b.routerLink"
              routerLinkActive='active'>{{b.label}}</a>
        </div>
</div>
  </div>