<div class="add-meeting">
  <form class="control-text" [formGroup]="CreateMeeting" (ngSubmit)="create()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="meeting-title" formControlName="meetingtitle"/>
    </div>
    <div class="form-group">
      <label>Project</label>
      <select class="form-control" formControlName="projectname" >
        <option *ngFor="let list of List" value={{list.id}}>{{list.projectName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Discription</label>
      <textarea class="form-control" name="meeting-discription" formControlName="meetingdiscription"></textarea>
    </div>
    <div class="form-group">
      <label>Date</label>
      <input type="date" class="form-control" name="meeting-date" formControlName="meetingdate"/>
    </div>
    <div class="form-group">
      <label>Time</label>
      <input type="time" class="form-control" name="meeting-time" formControlName="meetingtime"/>
    </div>
    <div class="form-group">
      <label>Type</label>
      <select class="form-control" name="meeting-type" formControlName="meetingtype">
        <option value="1">StandUp</option>
        <option value="2">General</option>
        <option value="3">Sprint Planning</option>
        <option value="4">Sprint Review</option>
        <option value="5">Reportative</option>
      </select>
    </div>
    <!-- <div class="form-group">
      <label>Invite Person</label>
      <input type="email" class="form-control" name="invite-email" />
    </div> -->
    <div mat-dialog--actions class="form-group">
      <button type="submit" class="btn dark-btn">Submit</button>
      &nbsp;
      <button  mat-dialog-close class="btn dark-btn">Close</button>
    </div>
  </form>
</div>
