@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

  /*Header*/
  
  .top-header {
    margin-bottom: 0;
    padding: 30px;
  }
  .title p {
    color: #172b4d;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
  }
  .nav-item-bold a {
    color: #172b4d;
    font-weight: bold;
    cursor: pointer;
  }
  .nav-item-light a {
    color: grey;
    font-weight: 500;
    cursor: pointer;
  }
  /*Header End*/

  /*Footer*/
  .footer {
    background-color: #f4f5f7;
    box-shadow: -1px -4px 11px -3px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
  }
  .footer a {
    text-decoration: none;
    color: #172b4d;
    padding: 10px;
    font-size: 15px;
  }
  /*Footer End*/

  /*Index*/
  .banner {
    background-color: #ffffff;
    padding-top: 0;
  }
  .panel {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center;
  }
  .welcome-title {
    color: #172b4d;
    font-size: 40px;
    font-weight: 500;
  }
  .dark-btn {
    background-color: #172b4d;
    color: #ffffff !important;
    font-weight: 600;
  }
  .dark-btn:hover {
    color: #ffffff;
    box-shadow: 1px 4px 11px 3px rgba(0, 0, 0, 0.1);
  }
  
  .index-content-title{
    font-size: 30px;
    font-weight: bold;
    color:#172b4d;
  }
  .index-content{
    font-size: 20px;
    color:gray;
  }
  @media screen and (max-width: 924px) {
    .main {
      display: none;
    }
}
/*Index End*/

/*SignUp*/
.form-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  width: 70%;
}
.control-text {
  color: #172b4d;
  font-weight: bold;
}

/*SignUp End*/

/*Meeting*/
.light-btn{
  background-color: #dfe1e6;
  color: #172b4d !important;
  font-weight: 600;
}
.light-btn:hover{
  background-color: #f5f6f8;
}
.app-title p {
  font-size: 35px;
  font-weight: 800;
  margin-top: 10px;
  color: #172b4d;
}
.calender{
  margin-bottom: 30px;
}
.meeting-nav{
  padding: 0;
}
.mat-typography{
  font-family: 'Quicksand', sans-serif;
}
.mat-typography h2{
  font-family: 'Quicksand', sans-serif;
  color: #172b4d;
  font-weight: 700;
  text-transform: uppercase;
}
.mat-dialog-container{
  padding: 0 !important;
  margin: 0 !important;
}
.fc-title{
  color: #ffffff;
}
/*Meeting End*/

/*Create Meeting*/
.add-meeting{
  background-color: #ffffff;
  padding: 30px;
  width: 600px;
}
/*Create Meeting End*/

/*Page Not Found*/
.notfound-panel {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
.notfound-404 {
  height: 150px;
  line-height: 150px;
  margin-bottom: 25px;
}
.notfound .notfound-404 h1 {
  font-size: 186px;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
}
.notfound h2 {
  padding-top: 50px;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}
.notfound p {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.notfound a {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border: none;
  background: #172b4d;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 15px;
  transition: 0.2s all;
}
.notfound a:hover {
  opacity: 0.8;
}
/*Page Not Found End*/

/*Sidebar*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: #0747a6;
  position: fixed;
  height: 100%;
  box-shadow: 1px 4px 11px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.sidebar-title p {
  display: block; 
  color: #ffffff;
  padding: 20px;
  margin: 0;
  padding-bottom:0 ;
  font-size: 30px;
  font-weight: 600;
}
.sidebar-user{
  color: #ffffff;
  display: block;
  padding: 20px;
  margin-top: 10px;
}
.sidebar-user p{
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.sidebar-user span{
 color: #BEC2DC;
}

.sidebar a {
  display: block;
  color: #ffffff;
  padding: 8px;
  padding-left: 20px;
  font-weight: 600;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: #0052cc;
  cursor: pointer;
  color: white;
}
.active{
  background-color: #172b4d;
  border-left: 3px solid #ffffff;
  color: #ffffff;
}
.sidebar-menu{
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    padding: 14px;
    font-size: 19px;
  }
  .sidebar-title p {
    float: left;
    padding: 14px;
    font-size: 20px;
  }
  .sidebar-user{
    display: none;
  }
  .sidebar-copy{
    display: none;
  }
  div.content {
    margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .sidebar-title p {
    text-align: center;
    float: none;
  }
}
/*Sidebar End*/
/*Project*/
.app-navbar{
  margin: 0;
  padding: 0;
  padding-top: 10px;
}
.card {
  margin-bottom: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.jumbotron {
  margin-top: 15px;
  padding: 20px;
}
.jumbotron-label {
  font-size: 20px;
  font-weight: 700;
  color: #172b4d !important;
}
.card-panel {
  margin-top: 15px;
}
.btn {
  margin-left: 5px;
}
.card-text {
  font-size: small;
}
.card-title {
  font-weight: bold;
  color:#172b4d;
}
.done-card-panel {
  margin-top: 30px;
}
.card-item {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: #172b4d !important;
}
.nav-project-item p {
  margin: 0;
  color: gray;
  font-size: 12px;
  text-align: left;
}
.nav-project-title {
  font-weight: bold;
  font-size: 20px;
  color: #172b4d;
}
.done-card {
  padding: 5px;
}
.card-background {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .card-dialog {
    transition: all 5s ease-in-out;
    position: fixed !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow:auto;
  }
/*Project End*/

/*Sprint List*/
.select {
  color: #172b4d !important;
  border-bottom: 3px solid #0052cc;
}
.sprint-title{
  font-size: 20px !important;
  font-weight: 700;
  color: #172b4d !important;
}  
.sprint-project-title{
  padding-left: 0 !important;
  font-size: 30px !important;
  font-weight: 700;
  color: #172b4d !important;
}

.sprint-list{
  margin-top: 20px;
}
.sprint-card {
  padding: 0;
}
.sprint-main {
  margin-bottom: 10px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding:0;
  cursor: pointer;
}


/*Sprint List End*/

/*Inbox*/
.toast-header small{
  font-weight: bold;
}
.notification-card {
  padding-top: 10px;
}
.badge {
  border-radius: 8px;
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 12px;
  background-color: transparent;

  margin-bottom: 5px;
  border-radius: 0.875rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.bg-amber {
  background-color: #0052cc !important;
  color: #fff;
}
.bg-red {
  background-color: #ec3b57 !important;
  color: #fff;
}
.notification-card a {
  text-decoration: none;
  color: #253858;
  font-weight: bold;
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
}
/*Inbox End*/

/*Sprint Board*/
.sprint-nav p {
  font-size: 15px;
  font-weight: 700;
}
.card-assignee{
  font-size: small;
  margin-left: 5px;
  color:#0052cc;
  font-weight: 700;
}
.board-header{
  background-color: #e9ecef;
  color:#253858;
}
/*sprint Board End*/

/*My Task*/
.point-text{
  color: #253858;
  font-weight: bold;
}
/*My Task End*/

/*Task Detail*/
.task-panel {
  padding-top: 40px;
}
.project-title {
  font-size: 15px;
  font-weight: bold;
  color: gray;
}
.task-title {
  font-size: 20px;
  font-weight: bold;
  color: #253858;
}
th {
  color: gray;
  font-size: 15px;
  font-weight: normal;
}
td {
  color: #253858;
  font-weight: bold;
}
.task-desc h2{
    margin-top: 10px;
    color: #253858;
    font-size: 20px;
    font-weight: bold;
}
.task-desc p{
    color: grey;
    font-size: 15px;
}
.task-activity h2{
    margin-top: 10px;
    color: #253858;
    font-size: 20px;
    font-weight: bold;
}
.comment{
    padding: 20px;
}
.comment p{
    margin: 0;
    padding: 0;
}
.username{
    color: #253858;
    font-weight: bold;
    font-size: 15px;
}
.msg{
    color: #253858;
    font-size: 15px;
    font-weight: 500;
}
.comment-card{
    height: 300px;
    overflow: scroll;
    -ms-overflow-style: none;
}

.card-text::-webkit-scrollbar {
  display: none;
}
/*Task Detail End*/

/*Manage Developer*/
.search-panel{
  margin-left: 15px;
}
.select-option{
  background-color: #e9ecef;
  font-weight: 600;
  border: none;
}
.user-data{
margin-top: 10px;
}
.table-status{
color: #0052cc;
font-style: italic;
}
.table-action{
color: #0747a6 !important;
font-weight: 700;
cursor: pointer;
}
thead{
border-bottom: 2px solid #e9ecef;
color: #5e6c84;
}

/*Manage Developer End*/

/*Settings*/
.password-form{
  margin-top: 20px;
}
/*Settings End*/

/*Popup*/
.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.success {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}
/*Popup End*/