<div class="jumbotron banner">
    <div class="title text-center">
        <p>TaskMe</p>
        <small>Manage your workflow</small>
    </div>
    <div class="panel container">
        <div class="form-content">
            <form class="control-text" [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.email.errors }" >
                  <div *ngIf="submitted && formcontrol.email.errors" class="invalid-feedback">
                    <div *ngIf="formcontrol.email.errors.required">Email is required</div>
                    <div *ngIf="formcontrol.email.errors.email">Enter valid email address</div>
                </div>
                </div>
                <div class="form-group">
                  <label >Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.password.errors }">
                  <div *ngIf="submitted && formcontrol.password.errors" class="invalid-feedback">
                    <div *ngIf="formcontrol.password.errors.required">Password is required</div>
                </div>
                </div>
                <div class="text-right">
                  <a [routerLink]="['/forgetpassword']"><strong>forget password?</strong></a>
                </div>
                <div *ngIf='submitted && flag==false'>
                  <p class='error'>Username or Password Credentials !!</p>
                </div>
                <button type="submit" class="btn dark-btn">Submit</button>
              </form>
              <br>
              <span>
              Don't have an account?<a [routerLink]="['/signup']"><strong> Sign Up</strong></a>    
              </span>
        </div>
        <div class="main">
            <img src="/assets/login.png" alt="pic" class="img-fluid img-responsive"> 
        </div>
    </div>
  </div>
<app-footer></app-footer>
  