<div class="container">
  <div class="title">
    <p>Reset Your Password</p>
  </div>
  <div class="password-form">
    <form class="control-text"  [formGroup]="changePassword" (ngSubmit)="change()">
      <div class="form-group">
        <label >Old Password</label>
        <input type="password" class="form-control" formControlName="oldPassword" >
      </div>
      <div class="form-group">
        <label >New Password</label>
        <input type="password" class="form-control" formControlName="newPassword" >
      </div>
      <div class="form-group">
        <label >Confirm Password</label>
        <input type="password" class="form-control" formControlName="newPassword2"  >
      </div>
      <button type="submit" class="btn dark-btn">Submit</button>
    </form>
  </div>
</div>