<app-header></app-header>
<div class="jumbotron banner">
    <div class="title text-center">
        <p>Have Some Questions?</p>
        <small>Our team is happy to answer your question.Fill out the form and we'll be in touch as soon as possible.</small>
    </div>
    <div class="panel container">
        <div class="form-content">
            <form class="control-text" [formGroup]="contactusForm" (ngSubmit)="onSubmit()" > 
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.name.errors }" >
                    <div *ngIf="submitted && formcontrol.name.errors" class="invalid-feedback">
                      <div *ngIf="formcontrol.name.errors.required">Name is required</div>
                  </div>
                  </div>
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.email.errors }" >
                  <div *ngIf="submitted && formcontrol.email.errors" class="invalid-feedback">
                    <div *ngIf="formcontrol.email.errors.required">Email is required</div>
                </div>
                </div>
                <div class="form-group">
                  <label>Your Message</label>
                  <textarea formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.message.errors }" rows="6"></textarea>
                  <div *ngIf="submitted && formcontrol.message.errors" class="invalid-feedback">
                    <div *ngIf="formcontrol.message.errors.required">Message is required</div>
                </div>
                </div>
                <button type="submit" class="btn dark-btn">Submit</button>
              </form>
        </div>
        <div class="main">
            <img src="/assets/contactus.png" alt="pic" class="img-fluid img-responsive">
        </div>
    </div>
  </div>
<app-footer></app-footer>
