<div class="container">
  <nav class="navbar meeting-nav" aria-label="">
    <div class="app-title">
      <p>Meetings</p>
    </div>
    <ul class="nav text-right">
      <li class="nav-item">
        <button mat-raised-button class="btn light-btn" (click)="openDailoge()">
          Schedule Meeting
        </button>
      </li>
    </ul>
  </nav>
  <div class="calender">
    <app-calendar></app-calendar>
  </div>
</div>