<div class="container">
    <div class="app-title">
      <p>Projects</p>
    </div>
    <div class="Active-panel">
      <div class="jumbotron">
        <nav class="navbar app-navbar" aria-label="">
          <div class="jumbotron-label select">
            Active Project
          </div>
          <ul class="nav text-right">
            <li class="nav-item item-light">
              <a class="nav-link btn dark-btn" (click)="viewModal()">Add Project</a>
            </li>
          </ul>
        </nav>
        <div class="card-panel">
          <div class="row">
            <div class="col-sm-4"  *ngFor="let aproject of activeProjectData">
              <div class="card">
                <div class="card-body" >
                  <p class="card-title">{{aproject.projectName}}</p>
                  <p class="card-text text-muted">{{aproject.projectDescription.substring(0,50)}}</p>
                  <a  class="btn light-btn" (click)="onView(aproject)">View</a>
                  <a  class="btn light-btn" (click)="onUpdate(aproject)">Done</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="Done-panel">
      <nav class="navbar app-navbar" aria-label="">
        <div class="jumbotron-label select">
          All Complete Project
        </div>
      </nav>
      <div class="done-card-panel">
        <div  *ngIf="inactiveProjectData?.length === 0 || inactiveProjectData===undefined">
          <div class="card-body">
            <p class="card-title text-center">No complete project !! </p>
          </div>
        </div>
        <div class="card" *ngFor="let iproject of inactiveProjectData">
          <div class="card-body done-card">
            <nav class="nav nav-pills nav-fill text-left" aria-label="">
              <a class="nav-item nav-link nav-project-item">
                <p>Project</p>
                <p class="card-item">{{iproject.projectName}}</p>
              </a>
              <a class="nav-item nav-link nav-project-item">
                <p>Created On</p>
                <p class="card-item">{{iproject.createOn | date}}</p>
              </a>
              <a class="nav-item nav-link nav-project-item">
                <p>Last Updated</p>
                <p class="card-item">{{iproject.completeOn | date}}</p>
              </a>
              <a class="nav-item nav-link">
                <a class="btn light-btn" (click)="onView(iproject)">View</a>
            </a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="!isHide" class="card-dialog">
      <div class="card-background">
        <div class="card-content">
          <div class="card-body">
            <div class="container">
              <div class="card">
                <div class="toast-header">
                  <strong class="mr-auto jumbotron-label">Add Project</strong>
                  <button class="btn light-btn" (click)="closeModal()">
                    Close
                  </button>
                </div>
                <div class="card-body">
                  <form class="control-text" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label>Project Name</label>
                      <input type="text" formControlName="projectname" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.projectname.errors }"/>
                      <div *ngIf="submitted && formcontrol.projectname.errors" class="invalid-feedback">
                        <div *ngIf="formcontrol.projectname.errors.required">Project Name is required</div>
                    </div>
                    </div>
                    <div class="form-group">
                      <label>Project Description</label>
                      <textarea formControlName="projectdescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.projectdescription.errors }" rows="3"></textarea>
                      <div *ngIf="submitted && formcontrol.projectdescription.errors" class="invalid-feedback">
                        <div *ngIf="formcontrol.projectdescription.errors.required">Project Description is required</div>
                        <div *ngIf="formcontrol.projectdescription.errors.maxlength">Project Description should be more than 50 charater</div>
                    </div>
                    </div>
                    <div class="form-group">
                      <label>Project Start Date</label>
                      <input type="date" formControlName="projectstartdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.projectstartdate.errors }"/>
                      <div *ngIf="submitted && formcontrol.projectstartdate.errors" class="invalid-feedback">
                        <div *ngIf="formcontrol.projectstartdate.errors.required">Project Start Date is required</div>
                    </div>
                    </div>
                   
                    <button type="submit" class="btn dark-btn">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  