<div class="container">
    <div class="app-title">
      <p>Sprint Wall</p>
    </div>
    <nav class="navbar app-navbar" aria-label="">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link sprint-project-title ">{{projectname}}</a>
        </li>
      </ul>
      <ul class="nav text-right" *ngIf="userRole==='SCRUM'">
        <li class="nav-item item-light">
          <a class="nav-link btn dark-btn"  (click)="toggleSprintModal()" >Add Sprint</a>
        </li>
        <li class="nav-item item-light">
          <a class="nav-link btn dark-btn"   (click)="toggleTaskModal()">Add Task</a>
        </li>
      </ul>
    </nav>
    <div class="sprint-panel">
      <div class="jumbotron">
        <div class="card" *ngIf="projectname===undefined" style="margin-top: 20px;">
          <div class="card-body">
            <p class="card-title text-center">No any project is given to you !! </p>
          </div>
        </div>
       
        <div class="sprint" *ngFor="let sprint of sprintData" >
          <nav class="navbar app-navbar" aria-label=""  >
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link sprint-title select">{{sprint.details.sprintName}}</a>
              </li>
            </ul>
            <ul class="nav text-right">
              <li class="nav-item item-light">
                <a class="nav-link btn light-btn "(click)="onBoardView(sprint.details)" >Sprint Board</a>
              </li>
              <li class="nav-item item-light" *ngIf="sprint.details.startDate===null && userRole==='SCRUM'">
                <a class="nav-link btn light-btn " (click)="onSprintStart(sprint.details)">Start Sprint</a>
              </li>
              <li class="nav-item item-light" *ngIf="userRole==='SCRUM' && sprint.details.startDate!==null||sprint.details.endDate!==null">
                <a class="nav-link btn light-btn " (click)="onSprintClose(sprint.details)">Close Sprint</a>
              </li>
            </ul>
          </nav>
          <div class="sprint-list">
            <div class="card sprint-main"  *ngFor="let issue of sprint.issueSprint" >
              <div class="card-body sprint-card" (click)="onIssueView(issue)">
                <nav class="nav nav-pills nav-fill" aria-label="">
                  <a class="nav-item nav-link nav-project-item">
                    <p>Type</p>
                    <p class="card-item">{{issue.issuetypename}}</p>
                  </a>
                  <a class="nav-item nav-link nav-project-item">
                    <p>Task</p>
                    <p class="card-item">{{issue.issueName}}</p>
                  </a>
                  <a class="nav-item nav-link nav-project-item">
                    <p>Status</p>
                    <p class="card-item">{{issue.issueStatus}}</p>
                  </a>
                  <a class="nav-item nav-link nav-project-item">
                    <p>Point</p>
                    <p class="card-item">{{issue.storyPoint}}</p>
                  </a>
                  <a class="nav-item nav-link nav-project-item">
                    <p>Assignee</p>
                    <p *ngIf="issue.assignee===null"><img src="https://img.icons8.com/cotton/20/000000/gender-neutral-user--v3.png" alt=""/></p>
                    <p *ngIf="issue.assignee!==null"class="card-item">{{issue.username}}</p>
                  </a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div *ngIf="!isSprintHide" class="card-dialog">
    <div class="card-background">
      <div class="card-content">
        <div class="card-body">
          <div class="container">
            <div class="card">
              <div class="toast-header">
                <strong class="mr-auto jumbotron-label">Add Sprint</strong>
                <button class="btn btn-default" (click)="toggleSprintModal()">
                  Close
                </button>
              </div>
              <div class="card-body">
                <form class="control-text" [formGroup]="sprintForm" (ngSubmit)="onSprintSubmit()"> 
                  <div class="form-group">
                    <label >Sprint Name</label> 
                    <input type="text" formControlName="sprintname" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.sprintname.errors }"/>
                      <div *ngIf="submitted && formcontrol.sprintname.errors" class="invalid-feedback">
                        <div *ngIf="formcontrol.sprintname.errors.required">Sprint Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Sprint Description</label>
                    <textarea formControlName="sprintdescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrol.sprintdescription.errors }" rows="3"></textarea>
                    <div *ngIf="submitted && formcontrol.sprintdescription.errors" class="invalid-feedback">
                      <div *ngIf="formcontrol.sprintdescription.errors.required">Sprint Description is required</div>
                  </div>
                  </div>
                  <button type="submit" class="btn dark-btn">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!isTaskHide" class="card-dialog">
    <div class="card-background">
      <div class="card-content">
        <div class="card-body">
          <div class="container">
            <div class="card">
              <div class="toast-header">
                <strong class="mr-auto jumbotron-label">Add Issue</strong>
                <button class="btn btn-default" (click)="toggleTaskModal()">
                  Close
                </button>
              </div>
              <div class="card-body issue-body">
                <form class="control-text" [formGroup]="issueForm" (ngSubmit)="onIssueSubmit()">
                  <div class="form-group">
                    <label >Sprint Name</label>
                    <select formControlName="sprintId" class="form-control" [ngClass]="{ 'is-invalid': submit && formfield.sprintId.errors }">
                      <option *ngFor="let s of sprintItem" value="{{s.id}}">{{s.sprintName}}</option>
                    </select>
                    <div *ngIf="submit && formfield.sprintId.errors" class="invalid-feedback">
                      <div *ngIf="formfield.sprintId.errors.required">Select sprint is required</div>
                  </div>
                  </div>
  
                  <div class="form-group">
                    <label >Issue Type</label>
                    <select formControlName="issueTypeId" class="form-control" [ngClass]="{ 'is-invalid': submit && formfield.issueTypeId.errors }" >
                      <option *ngFor="let i of issueType" value="{{i.id}}">{{i.issuename}}</option>
                    </select>
                    <div *ngIf="submit && formfield.issueTypeId.errors" class="invalid-feedback">
                      <div *ngIf="formfield.issueTypeId.errors.required">Select issue type is required</div>
                  </div>
                  </div>
  
                  <div class="form-group">
                    <label >Issue Name</label>
                    <input type="text" formControlName="issuename" class="form-control" [ngClass]="{ 'is-invalid': submit && formfield.issuename.errors }" />
                    <div *ngIf="submit && formfield.issuename.errors" class="invalid-feedback">
                      <div *ngIf="formfield.issuename.errors.required">Issue name is required</div>
                  </div>
                  </div>
                  <div class="form-group">
                    <label>Issue Description</label>
                    <textarea formControlName="issuedescription" class="form-control" [ngClass]="{ 'is-invalid': submit && formfield.issuedescription.errors }" rows="2"></textarea>
                    <div *ngIf="submit && formfield.issuedescription.errors" class="invalid-feedback">
                      <div *ngIf="formfield.issuedescription.errors.required">Issue description is required</div>
                  </div>
                  </div>
                  <div class="form-group">
                    <label>Scrum Point</label>
                    <input type="number" formControlName="scrumpoint" class="form-control" [ngClass]="{ 'is-invalid': submit && formfield.scrumpoint.errors }"/>
                    <div *ngIf="submit && formfield.scrumpoint.errors" class="invalid-feedback">
                      <div *ngIf="formfield.scrumpoint.errors.required">scrum point is required</div>
                  </div>
                  </div>
                  <button type="submit" class="btn dark-btn">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  